<div class="jumbotron">
  <h1 class="display-4">Hiptime! Free and EAsy!</h1>
  <p class="lead">Tusted by Millions. Hiptime is the best online Task Management App!</p>
  <hr class="my-4">
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>